<div class="container">
  <div class="row">
    <div class="col">
      <div class="detailview detailview-exhibits">
        <h1>Station <%= @station.name %></h1>
        <li class="detailview-field">
          <span class="name">Width: </span>
          <span class="value"><%= @station.width %></span>
        </li>
        <li class="detailview-field">
          <span class="name">Height: </span>
          <span class="value"><%= @station.height %></span>
        </li>
        <div class="mt-4 mb-5">
          <%= link_to 'Edit', edit_station_path(@station), class: 'btn btn-primary' %>
          <%= link_to 'Delete', station_path(@station),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
          <%= link_to 'Back', stations_path, class: 'btn btn-outline-secondary' %>
        </div>
      </div>
    </div>
  </div>
</div>
