<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Hilbert Gallery</title>
    <link rel="apple-touch-icon" href="<%= asset_path('icon.png') %>">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= "#{controller_name}-#{action_name}" %>">
    <div class="container">
      <div class="row">
        <div class="col">
          <% flash.each do |type, msg| %>
            <div class="alert alert-<%= type === 'alert' ? 'danger' : 'primary' %>" role="alert">
              <%= msg %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
